header {
  border: 2px solid black;
  height: 100px;
  width: 100%;
}

section {
  /* border: 2px solid black; */
  height: 450px;
  width: 100%;
  margin: 5px 0;
  display: flex;
}

div {
  border: 2px solid black;
  width: 32%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.tow {
  margin-left: 5px;
  margin-right: -4px;
}
.grow {
  flex-grow: 1;
}
footer {
  border: 2px solid black;
  height: 100px;
  width: 100%;
}
img {
  max-width: 100%;
  width: 200px;
}
