.one{
    background-color:lightsteelblue;
    border: 2px solid white;
    height: 100px;
    width:100%;
    margin: 10px;
}
.tow{
    display: flex;  
justify-content: space-between;
margin-left: 10px;
}
.tleft{
    background-color:lightsteelblue;
    border: 2px solid white;
    height: 300px;
    width:100%;
    margin: 4px;
    
}
.tright{
    background-color:lightsteelblue;
    border: 2px solid white;
    height: 300px;
    width:32%;
    flex-grow: 1;
}
.three{
    background-color:lightsteelblue;
    border: 2px solid white;
    height: 100px;
    width:100%;
    margin: 10px;
}