/* nav{
    border: 2px solid #000000;
    height: 50px;
    width: 100%;
    margin: 10px;
    display: flex;
    margin-right: 10px;
}
div{

    border: 2px solid #000000;
    height: 100px;
    width: 100%;
    margin: 10px;
    margin-bottom: 10px;
    display: flex;  
    margin-right: 10px;
}

div:first-child{
    width: 70%;
}

footer{
    border: 2px solid #000000;
    height : 100px;
    width: 100;
    display: flex;
    margin: 10px;

}

.parent {
    height: 100px;

}

.row{
    border: 2px solid #000000;
    height: 100%;
    width: 100%;
    margin: 10px;
    margin-bottom: 10px;
    display: flex;  
    margin-right: 10px;
} */
nav{
    margin: 5px;
    display: flex;
}

.head{
    border: 1px solid black;
    height:100px;
    width:98%;
    justify-content: space-around;
    background-color: grey;
}

.row{
    display: flex;
    margin:5px;
}
.col {
    border: 1px solid black;
    width: 70%;
    height: 200px;
    align-content:center;
    flex-direction:row;
    background-color: grey;
}

.two{
    border: 1px solid black;
    width: 30%;
    height: 200px;
    flex-direction: row;
    margin-left: 5px;
    background-color: grey;
}

footer{
    margin: 5px;
    display: flex;
}

.last{
    border: 1px solid black;
    height:100px;
    width:98%;
    justify-content: space-around;
    background-color: grey;
}

