.head {
    height: 140px;
    width: 400px;
    border: 2px solid black;
    margin: 10px;
}

.row1-1{
    height: 90px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
    position: absolute;
    top: 22px;
    left: 500px;
}
.row1-2{
    height: 90px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
    position: absolute;
    top: 22px;
    left: 650px;
}
.row1-3{
    height: 90px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
    position: absolute;
    top: 22px;
    left: 800px;
}
.row1-4{
    height: 90px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
    position: absolute;
    top: 22px;
    left: 950px;
}
.row2{
    flex-grow: 1;
    margin-left: 11px;
    border: 2px solid black;
    height: 140px;
    margin-top: 10px;
    width: 99%
}

 .row3-1{
    border: 2px solid black;
    height: 140px;
    margin-top: 10px;
    width: 400px;
    margin-left: 10px;
 }
 .row3-2{
    border: 2px solid black;
    height: 140px;
    margin-top: 10px;
    width: 400px;
    position: absolute;
    top: 308px;
    left: 445px;
 }
 .row3-3{
    border: 2px solid black;
    height: 140px;
    margin-top: 10px;
    width: 400px;
    position: absolute;
    top: 308px;
    left: 869px;
 }

footer {
    height: 140px;
    width: 99%;
    border: 2px solid black;
    margin: 10px;
}