nav{
    height: 100px;
    border: 2px solid black;
    margin: 10px;
}

.box1 {
    display: flex;
    justify-content: space-between;
    margin: 10px; 
    
}

.box2 {
    border: 2px solid black;
    height: 350px;
    width: 600px;
    margin-top: 10px;
}



.box3{
    border: 2px solid black;
    height: 350px;
    width: 600px;
    margin-top: 10px;
    
}

.box4{
    display: flex;
    justify-content: space-between;
    margin: 10px; 
}

.box5{
    border: 2px solid black;
    height: 150px;
    width: 400px;
    margin-top: 10px;
}

.box6{
    border: 2px solid black;
    height: 150px;
    width: 400px;
    margin-top: 10px;

}

.box7{

    border: 2px solid black;
    height: 150px;
    width: 400px;
    margin-top: 10px;
}

footer {
   height: 100px;
   border: 2px solid black;
   margin: 10px;
    
}