#row1{
    border:2px solid rgba(128, 128, 128, 0.178);
    background: rgba(128, 128, 128, 0.178);
    width: 99.5%;
    height: 100px;
    margin-bottom: 10px;
}
.row2{
    display: flex;
    justify-content: space-between;
    
}
.box{
    border:2px solid rgba(128, 128, 128, 0.178);
    background: rgba(128, 128, 128, 0.178);
    width: 49%;
    height: 300px;
}
.row3{
    display: flex;
    justify-content: space-between;
}
.box1{
    border:2px solid rgba(128, 128, 128, 0.178);
    background: rgba(128, 128, 128, 0.178);
    width: 32%;
    height: 150px;
    margin-top: 10px;
}
#row4{
    border:2px solid rgba(128, 128, 128, 0.178);
    background: rgba(128, 128, 128, 0.178);
    width: 99.5%;
    height: 100px;
    margin-top: 10px;
}

